@using EdhTracker.Data
@using Microsoft.EntityFrameworkCore
@inject IDbContextFactory<DataContext> contextFactory

<MudDialog>
    <DialogContent>
        <div class="d-flex flex-column py-1">
            <MudTextField T="string" Label="Group Name" Value="GroupName"></MudTextField>
        </div>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel">Cancel</MudButton>
        <MudButton Color="Color.Primary" OnClick="Submit">Ok</MudButton>
    </DialogActions>
</MudDialog>

@code {
    string GroupName = string.Empty;

    [CascadingParameter] MudDialogInstance? MudDialog { get; set; }

    async Task Submit()
    {
        var context  = await contextFactory.CreateDbContextAsync();
        context.Pods.Add(new PlayGroup() { Name = GroupName });
        await context.SaveChangesAsync();

        MudDialog?.Close(DialogResult.Ok(true));
    }

    void Cancel() => MudDialog?.Cancel();
}
